.signUpForm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


h1{
    text-align: center;
    color: white;
}

.userName, .password{
    display: block;
    width: 400px;
    margin-bottom: 30px;
    padding: 10px 5px;
    border: none;
}
.userName:focus,.password:focus{
    outline: none;
}

.button1{
    border: none;
    font-size: 20px;
    color: white;
    display: block;
    margin:30px auto;
    background-color: transparent;
    
}
